/* navigation  */
#navbar{
    flex-direction: column;
   }
#navbar ul li a{
   font-size: 0.9rem;
   padding: 9px 16px;
   border-radius: 16px;
}
/* Home section  */
#home{
   padding: 10px 0px;
   margin: 0px;
}
#home::before{
  height: 175%;
}
#home p{
   font-size: 1.3rem;
}

/* services section  */
#services{
   flex-direction: column;
}
#services .box{
  margin: 5px 0px;
  padding: 0px;
}
/* my projects  */

.project{
   padding: 20px 10px;
   font-size: 1rem;
}
.project:hover{
   padding: 20px 10px;
   font-size: 1.2rem;
}


/* conact us  */
.box {
   overflow: hidden;
}
.box .f1{
   font-size: 1rem;
   font-family: 'Signika Negative', sans-serif;
   background-color: rgb(192, 221, 217);
   margin: 3px;
   border-radius: 10px;
}
/* utlity */
.h-primary{
   font-size: 2.2rem;
}
.h-secondary{
   font-size: 1.8rem;
  
}
@media (max-width:374px) {
   .project{
       padding: 20px 0px;
   }
   #navbar ul li a{
       padding: 5px 5px;
       border-radius: 13px;
   }
   #navbar ul li {
   list-style: none;
   font-size: 0.8rem;
}
#home::before{
  height: 160%;
}
#services .box img {
   height: 125px;
   width: 164px;
}
.my{
   display: block;
   
}
.project{
   padding: 10px auto;
   font-size: 1rem;
}
.project:hover{
   padding: 10px auto;
   font-size: 1rem;
   border: 0px solid blue;
   background: none;
   border-radius: 0px;
   transition:none;
   transition-duration: none;
}
}
